@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  background-color: whitesmoke;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
}
a:visited {
  color: black;
}
a:hover {
  color: whitesmoke;
  background-color: black;
}
a:active {
  color: black;
  background-color: whitesmoke;
}

.data-table {
  justify-self: center;
  border-collapse: collapse;
  border-radius: 5px 5px 3px 3px;
  overflow: hidden;
  margin: auto;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba;
}

.data-table thead tr {
  background-color: rgb(43, 43, 43);
  color: whitesmoke;
  text-align: left;
  font-weight: bold;
}

.data-table th,
td {
  color: whitesmoke;
  padding: 12px 15px;
}
.data-table a {
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
.data-table a:visited {
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
.data-table a:hover {
  color: black;
  background-color: whitesmoke;
}
.data-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background: black;
}
.data-table tbody tr:nth-of-type(even) {
  background: rgb(43, 43, 43);
}
.data-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(43, 43, 43);
}
