<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="/stylesheets/main.css" rel="stylesheet"/>

</head>

      <div>
        <h1>Welcome to the Rectangle Factory!</h1>
        <a th:href="@{/rectangle}">Add Rectangle</a>
        <div>
          <h1>Table of rectangles</h1>
        
          <div class="mainblock">
            <table class="data-table">

                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Colour</th>
                    <th>INSPECT</th>
                    <th>DELETE</th>
                  </tr>
                </thead>

                <tr th:each="rectangle : ${rectangles}">
                    <td th:text="${rectangle.getID()}"></td>
                    <td th:text="${rectangle.getName()}"></td>
                    <td>
                      <svg width="20" height="20">
                          <rect width="20" height="20" th:fill="${rectangle.getColour()}"></rect>
                      </svg>
                      <span th:text="${rectangle.getColour()}" style="text-align: center; margin:auto; margin-bottom: 5px;"></span>
                    </td>

                    <td>
                        <a th:href="@{/rectangle/read?rid={id}(id = ${rectangle.getID()})}">INSPECT</a> 
                    </td>
                    <td>
                        <a th:href="@{/rectangle/delete?rid={id}(id = ${rectangle.getID()})}">DELETE</a>
                    </td>
                </tr>
            </table>
          </div>
      </div>


</body>
</html>