<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div class="container">
        
        <h1>Table of rectangles</h1>
        <h4>Rectangle successfully added!</h4>

        <table>
            <tr th:each="rectangle : ${rectangles}">
                <td th:text="${rectangle.getID()}"></td>
                <td th:text="${rectangle.getName()}"></td>
                <td th:text="${rectangle.getColour()}"></td>

                <td>
                    <a th:href="@{/rectangle/delete?rid={id}(id = ${rectangle.getID()})}">DELETE BUTTON</a>
                </td>
                <td>
                    <a th:href="@{/rectangle/read?rid={id}(id = ${rectangle.getID()})}">INSPECT</a>
                </td>
            </tr>
        </table>

        <h2>
            <a th:href="@{/rectangle}">Create a Rectangle!</a>
        </h2>
    </div>

</body>
</html>
