<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspecting</title>
    <link href="/stylesheets/main.css" rel="stylesheet"/>
</head>
<body>
    <h1>Rectangle</h1>
    <div class="mainblock">
        <svg class="read-rect" width="200" height="150">
            <g>
                <rect width="200" height="150" th:fill="${record.getColour()}"></rect>
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" th:text="${record.getName()}"></text>
            </g>
        </svg>
        <p>Note: the above image is not an accurate representation of the rectangle dimensions</p>
        <table class="data-table">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Length</th>
                <th>Width</th>
                <th>Colour</th>
                <th>Area</th>
                </tr>
            </thead>
            <tr>
                <td th:text="${record.getID()}"></td>
                <td th:text="${record.getName()}"></td>
                <td th:text="${record.getLength()}"></td>
                <td th:text="${record.getWidth()}"></td>
                <td>
                    <svg width="20" height="20">
                        <rect width="20" height="20" th:fill="${record.getColour()}"></rect>
                    </svg>
                    <span th:text="${record.getColour()}" style="text-align: center; margin:auto; margin-bottom: 5px;"></span>
                </td>
                <td th:text="${record.getArea()}"></td>
            </tr>
        </table>
    </div>
    <a th:href = "@{/rectangle/success}">Back to all Rectangles</a>
    <a th:href = "@{/}">Return to Homepage</a>
</body>
</html>