<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New rectangle Form</title>
    <link href="/stylesheets/main.css" rel="stylesheet"/>
</head>
<body>
    <h1>Create a Rectangle Below!</h1>
    <div class="mainblock">
        <form action="#" method="post" th:action="@{/rectangle}" th:object="${rectangle}">
            <input type="text" th:field=*{name} placeholder="name"> <br><br>
            <input type="text" th:field=*{width} placeholder="width"> <br><br>
            <input type="text" th:field=*{length} placeholder="length"> <br><br>
            <p>Colour Selector:</p>
            <input type="color" th:field=*{colour} value="#000000"> <br><br>

            <input type="submit" value="Submit Rectangle">
        </form>
    </div>

    <a class="homepage-btn" style="margin: 50px;" th:href="@{/}">Back to homepage</a>
</body>
</html>
