<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheets/main.css" rel="stylesheet"/>
    <title>Success</title>
</head>
<body>
        
        <h2>Rectangle successfully added!</h2>

        <table class="data-table">

            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Colour</th>
                <th>INSPECT</th>
                <th>DELETE</th>
              </tr>
            </thead>

            <tr th:each="rectangle : ${rectangles}">
                <td th:text="${rectangle.getID()}"></td>
                <td th:text="${rectangle.getName()}"></td>
                <td th:text="${rectangle.getColour()}"></td>

                <td>
                    <a th:href="@{/rectangle/read?rid={id}(id = ${rectangle.getID()})}">INSPECT</a> 
                </td>
                <td>
                    <a th:href="@{/rectangle/delete?rid={id}(id = ${rectangle.getID()})}">DELETE BUTTON</a>
                </td>
            </tr>
        </table>
        <a th:href="@{/rectangle}">Create a Rectangle!</a>
        <a th:href="@{/}">Back to homepage</a>
</body>
</html>
